body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-top: 0;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #020307;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  width: 100%;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie {
  width: 30%;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
}

.movie img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

.movie h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 20px;
}

.movie p {
  margin: 0;
  font-size: 16px;
}

.navbar {
  position: absolute;
  height: 70px;
  background-color: transparent;
  border: none;
  width: 100%;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

body {
  background: rgb(52 52 52);
}